<!-- Page Title -->

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-envelope-alt page-title-icon"></i>
                <h2>Contact Us /</h2>
                <p>Here is how you can contact us</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-us container">
    <div class="row">
        <div class="contact-form span7">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <a href="">suscipit lobortis</a> nisl ut aliquip ex ea commodo consequat.</p>
            
            <%= form_for (@message), :html => { :honeypot => true }  do |f| %>
              <% if @message.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

                  <ul>
                  <% @message.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">    
                <%= f.text_field :name, placeholder: "Enter your name..." %>
              </div>
              <div class="field">
   
                <%= f.text_field :email, placeholder:"Enter your email..." %>
              </div>
              <div class="field">    
                <%= f.text_area :messages, placeholder: "Your message..."%>
              </div>
              
              <div class="actions">
                <%= f.submit "Contact Us", class: "ButtonContact"%>
              </div>
            <% end %>
            

        </div>
        <div class="contact-address span5">
            <h4>We Are Here</h4>
            <div class="map"></div>
            <h4>Address</h4>
            <p>Jalan Gagak No 2 <br> 90222, Makassar, Indonesia</p>
            <p>Phone: 0039 333 12 68 347</p>
        </div>
    </div>
</div>

