<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :messages %><br>
    <%= f.text_area :messages %>
  </div>
  <div class="field">
    <%#= recaptcha_tags display: {theme:  'red', tabindex:  5}, ssl: false, noscript: false %>
    <%#= f.label :humanizer_answer, @message.humanizer_question %>
    <%#= f.text_field :humanizer_answer %>
    <%#= f.hidden_field :humanizer_question_id %>
     <%= show_simple_captcha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
