<h1>Listing employments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Info</th>
      <th>Image</th>
      <th>Writer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><%= employment.title %></td>
        <td><%= employment.info %></td>
        <td><%= employment.image %></td>
        <td><%= employment.writer %></td>
        <td><%= link_to 'Show', employment %></td>
        <td><%= link_to 'Edit', edit_employment_path(employment) %></td>
        <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment', new_employment_path %>
