<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @employment.title %>
</p>

<p>
  <strong>Info:</strong>
  <%= @employment.info %>
</p>

<p>
  <strong>Image:</strong>
  <%= @employment.image %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @employment.writer %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
