<div class="container">
        <div class="header row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="index.html">Runiah School - a high quality education..</a>
                        </h1>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <!-- Home -->
                                <li class="current-page">
                                  <%=link_to 'Home'.html_safe, root_url%>   
                                </li>                          
                                
                                <!-- About -->
                                <li><%= link_to 'About', founder_message_path %></li>                          
                             
                                <!-- campus -->
                                <li><%= link_to 'Campus', head_of_note_path %></li>                     
                                
                                <!-- curriculum -->
                                <li><%= link_to 'Curriculum', pre_school_path %></li>                                                             
                                <!-- Programs -->
                                <li><%= link_to 'Programs', language_support_path %></li>
                                
                                <li>
                                     <%= link_to 'Employment'.html_safe, employments_path %>
                                </li>                               
                                
                                 <li > <%= link_to 'Contact'.html_safe, contact_path, "data-no-turbolink" => true %> </li>
                                <% if user_signed_in? %>
                                
                                  
                                <!-- About -->
                                <li class="dropdown" >
                                  <a class="dropdown-toggle"
                                     data-toggle="dropdown"
                                     href="#">
                                      <i class="icon-user"></i>                                  
                                    </a>
                                  <ul class="dropdown-menu"role="menu" aria-labelledby="dropdownMenu">                                      
                                   
                                    <% if can? :manage, @pages %>
                                     <li> <%= link_to 'Mailbox', messages_path%> </li> 
                                    <li> <%= link_to 'Page', pages_path %> </li> 
                                    
                                    <li> <%= link_to "Cpanel", "http://euly.dnsbit.net/cpanel" %></li>
                                    <% end %>
                                    
                                    
                                    <li> <%= link_to "Webmail", "http://webmail.runiah-school.com" %>  </li> 
                                                  
                                    <li> <%=link_to 'Sign Out'.html_safe,  destroy_user_session_path, method: :delete, title: "Sign Out", data: {tooltip: true}%></li> 
                                                              
                                  </ul>
                                </li>
                                <!--  -->
                                     
                                    
                               
                                <% else %>
                                <!-- <li>
                                     <%=link_to 'Sign In'.html_safe,  new_user_session_path,  title: "Sign In", data: {tooltip: true}%>
                                </li> -->
                                
                                <% end %>                                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>