<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, placeholder:"Input Name" %>
  </div>
  <div class="field">
    <%= f.label :input_text, "Input Text" %><br>
    <%= f.text_area :input_text, :class => "wysihtml5",  :id => "some-textarea" %>
  </div>
  
  <div class="field">
    <%= f.label :ancestry, "Di isi untuk memindahkan posisi page pada navigasi yaitu di menu atau submenu" %><br>
    <%= f.collection_select :ancestry,  Page.order(:name), :id, :name, include_blank: true %>
  </div>
  
  <div class="field">
    <%= f.label :slug, "Url Name (penulisan link yang akan tampil di website seperti url ditulis blabla maka akan tampil runiahschool.com/blabla)" %><br>
    <%= f.text_field :slug,  placeholder:"Input Url Name" %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
