<h1>Listing pages</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</h>
      <th>Name</th>
      <th>Input text</th>
      <th>Url Link</th>
      <th>Parent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.id %></td>
        <td><%= page.name %></td>
        <td><%= page.input_text %></td>
        <td><%= page.slug %></td>
         <td><%= page.ancestry %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
