<% content_for :title, "index" %>
<h3>Listing pages</h3>

<table class="table">
  <thead>
    <tr>
      <th>ID</h>
      <th>Name</th>     
      <th>Url Link</th>
      <th>Parent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <% nama = page.name %>
        <td><%= page.id %></td>
        <td><%= nama.capitalize %></td>        
        <td><%= page.slug %></td>
         <td><%= page.ancestry %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%#= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Page', new_page_path %>
