<% content_for :title, @page.name %>

<!-- container -->
    <div class="row">
      <div class="span3">
        <div class="well sidebar-nav">          
          <ul class="nav nav-list">
            <li class="nav-header"><h5>Sidebar</h5></li>
            <li><%= render 'submenu_pages', pages:  @page.root.descendants.arrange %></li>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      
      <div class="span9">
        <%= bootstrap_flash %>
        <div class="breadcrumb">
          <% @page.ancestors.each do |page| %>
            <%= link_to page.name, page %> &gt;
          <% end %>
        </div>

        <h3> 
          <% string = @page.name %>
          <%= string.capitalize %>
        </h3>
        <p>  
          <%= @page.input_text %>
        </p>
        <% if user_signed_in? %>
          <% if can? :update, page_path %>
            <%= link_to 'Edit', edit_page_path(@page) %> |
            <%= link_to 'Back', pages_path %>
          <% end %>
        <% end %>        
      </div>
      
    </div><!--/row-->


<!-- /container -->


