<%# content_for :title, @page.name %>   

    <!-- Page Title -->
    <div class="page-title visible-desktop">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!-- <i class="icon-user page-title-icon"></i> -->
                    <h2><%= @page.name %></h2>
                    <!-- <p>Below you can find more information about our company</p> -->
                </div>
            </div>
        </div>
    </div>
    
     
    
    <div class="page-title hidden-desktop">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!-- <i class="icon-user page-title-icon"></i> -->
                    <h2><%= @page.name %></h2>
                    
                    <!-- <p>Below you can find more information about our company</p> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Content Page Text -->
    <div class="about-us container">
        <div class="row">        
              <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                  <% @page.root.children.each do |page| %>
                  <li>
                    <%= link_to_unless_current page.name, page, id: 'tabe' %>
                    <%#= render 'submenu_pages', pages: page.children if page.children.present? %>
                  </li>
                  <% end %>
                </ul>
                <div class="tab-content">
                  <div class="about-us-text">
                        <p> <%= raw @page.input_text %></p>
                        <% if signed_in? %>             
                        <p class="pull-left"><%#= @page.input_text %></p>               
                        <p class="pull-right"> 
                          <% if can? :update, @page %>
                          <%= link_to 'Edit', edit_page_path(@page) , class: "editlink"%> | 
                          <% end %> <% if can? :manage, @pages %>
                          <%= link_to 'Index', pages_path, class: "editlink" %>
                          <% end %>
                        </p>  
                        <% end %>
                  </div>
                </div>
              </div>           
        </div>
    </div>    
    
    
    
    
  