<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Input text:</strong>
  <%= @page.input_text %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
