<% content_for :title, @page.name %>
<p id="notice"><%= notice %></p>

<div id="submenu">
  <%= render 'submenu_pages', pages:  @page.root.descendants.arrange %>
</div>

<div id="breadcrumbs">
  <% @page.ancestors.each do |page| %>
    <%= link_to page.name, page %> &gt;
  <% end %>
</div>


<h3> 
  <% string = @page.name %>
  <%= string.capitalize %>
</h3>

<p>  
  <%= @page.input_text %>
</p>

<% if user_signed_in? %>
  <% if can? :update, page_path %>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<% end %>
<% end %>
