<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @newstudent.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @newstudent.birth %>
</p>

<p>
  <strong>Street:</strong>
  <%= @newstudent.street %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @newstudent.religion %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @newstudent.contact_person %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @newstudent.gender %>
</p>

<%= link_to 'Edit', edit_newstudent_path(@newstudent) %> |
<%= link_to 'Back', newstudents_path %>
