<% content_for :title, "Sign In" %>
        <div class="container">         
            <section>				
                <div>                 
                    <div id="wrapper">
                        <div id="login" class="animate form">                            
                              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                                <%= devise_error_messages! %>
                                <p> 
                                  <%= f.label :email %><br />
                                  <%= f.email_field :email, :autofocus => true, placeholder: "your email...." %>
                                </p>
                                <p> 
                                  <%= f.label :password %><br />
                                  <%= f.password_field :password, placeholder: "your password...." %> 
                                </p>                                
                                <p class="keeplogin">
                                  <% if devise_mapping.rememberable? -%>
                                    <%= f.check_box :remember_me%> <%= f.label :remember_me %>
                                  <% end -%>                                     
                                </p>  
                                <p class="keeplogin">
                                  <%= render "devise/shared/links" %>  
                                </p>                              
                                <p class="keeplogin"> 	
                                	<%= link_to "Webmail", "http://webmail.runiah-school.com" %>  
                                </p>
                                <p class="keeplogin">	
                                	<%= link_to "Cpanel", "http://euly.dnsbit.net/cpanel" %>
                                </p>
                                <p class="login button"> 
                                  <input type="submit" value="Login" />
                                </p>								
                              <% end %>
                        </div>                     
                    </div>
                </div>  
            </section>
        </div>
  
