<%# title @gallery.name %>

<div >
  <% for image in @gallery.images %>
    <div >
      <%= image_tag image.picture_url(:thumb) if image.picture? %>
      <div ><%= image.title %></div>
      <div >
        <%= link_to "edit", edit_gallery_image_path(@gallery,image) %> |
        <%= link_to "remove", gallery_image_path(@gallery, image), :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div ></div>
</div>

<p>
  <%= link_to "Add a Image", new_gallery_image_path(:gallery_id => @gallery) %> |
  <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %> -->
