
<h1>Listing images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.title %></td>
        <td><%= image_tag image.picture_url(:thumb).to_s %></td>
        <td><%= link_to 'Show', [@gallery, image] %></td>
        <td><%= link_to 'Edit', edit_gallery_image_path(@gallery,image) %></td>
        <td><%= link_to 'Destroy', [@gallery, image], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_gallery_image_path(@gallery) %>
