
<h1>Listing images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |i| %>
      <tr>
        <td><%= i.title %></td>
        <td><%= image_tag image.i %></td>
        <td><%= link_to 'Show', i %></td>
        <td><%= link_to 'Edit', edit_image_path(i) %></td>
        <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
