
<h1>Listing images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Image.all.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= image_tag p.picture_url(:thumb).to_s %></td>
        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Edit', edit_image_path(p) %></td>
        <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
