<p id="notice"><%= notice %></p>

 <h1>
   <%= @image.title %>
 </h1> 
  <p>
    <strong>Picture:</strong>
    <%= image_tag @image.picture_url(:thumb).to_s %>
  </p>



<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
