<p id="notice"><%= notice %></p>

 <h1>
   <%= @image.title %>  
   <%= @image_tag(@image.picture.url) %>
 </h1>
 




<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
