<p id="notice"><%= notice %></p>

 <h1>
   <%= @image.title %>
 </h1> 
  <p>
    <strong>Picture:</strong>
    <%= image_tag @image.picture_url(:thumb).to_s %>
  </p>



<%= link_to 'Edit', edit_gallery_image_path(@gallery, @image) %> |
<%= link_to 'Back', @image.gallery %>
