<h1>Listing philosophies</h1>

<table>
  <thead>
    <tr>
      <th>Input text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @philosophies.each do |philosophy| %>
      <tr>
        <td><%= philosophy.input_text %></td>
        <td><%= link_to 'Show', philosophy %></td>
        <td><%= link_to 'Edit', edit_philosophy_path(philosophy) %></td>
        <td><%= link_to 'Destroy', philosophy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Philosophy', new_philosophy_path %>
