<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head_tag' %>
  </head>
  <body>
   
       <!-- Header -->
       <%= render 'shared/headernav' %>  
      <!-- body  -->
      <%= bootstrap_flash %>
       <%= yield %>
       <!-- Footer -->
       <%= yield :footer%>
       <!-- <%#= render 'shared/footer' %>   -->
    
       <!-- Javascript --> 
      
        
  </body>
</html>
