<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head_tag' %>
  </head>
  <body>
    <!-- Header -->
    <%= render 'layouts/headernav' %>  
   <!-- body  -->
   <%= bootstrap_flash %>
    <%= yield %> 
    <!-- Footer -->
    <%= render 'layouts/footer' %>
    
    <!-- Javascript -->    
    
         
  </body>
</html>
