<!DOCTYPE html>
<!-- Made By Kingmalprax@gmail.com, Makassar Desember 2013 -->
<html>
<head>
  <title>Runiah School</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'runiah_icon.ico', :rel => 'shortcut icon' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <%#= render 'layouts/mainnavigate' %>  
  <%= render 'layouts/navigate' %>
  
  
  <div class="container"> <%= yield %></div>  
     
  <%= render 'layouts/footer' %>
  </div>
  

  

</body>
</html>
