<!DOCTYPE html>
<html>
<head>
  <title>Sample Web</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'rails.png', :rel => 'shortcut icon' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <%#= render 'layouts/mainnavigate' %>  
  
  <div class="container">
    <%= render 'layouts/navigate' %>
    <div class="row-fluid">
      <div class="span12">
        
  
      <div class="container"> <%= yield %></div>  
     
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  

  

</body>
</html>
