<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head_tag' %>
  </head>
  <body>
    <div class="wrapper">
       <!-- Header -->
       <%= render 'shared/headernav' %>  
      <!-- body  -->
      <%= bootstrap_flash %>
       <%= yield %> 
       <!-- Footer -->
       <%= render 'shared/footer' %>  
    
       <!-- Javascript --> 
      
    </div>      
  </body>
</html>
