<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head_tag' %>
  </head>
  <body>

   <%= render 'layouts/navigate' %>
    <div class="container">        
      <%= bootstrap_flash %>
      <%= yield %>       
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
