<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head_tag' %>
  </head>
  <body>
       <!-- Header --> 
       <%= content_for?(:yellow_nav)? yield(:yellow_nav): yield(:green_nav) %>       
      
      <!-- body  -->
      <%= bootstrap_flash %>
       <%= yield %>
       <!-- Footer -->
       <%= yield :footer%>
       <!-- <%#= render 'shared/footer' %>   -->    
       <!-- Javascript -->        
       
      
        
  </body>
</html>
